/JavaApplication7/nbproject/private/
/Assignment4/nbproject/private/
/Assignment4/build/
/ManageCar/nbproject/private/
/ManageCar/ManageCar-war/nbproject/private/
/ManageCar/ManageCar-ejb/nbproject/private/
/Assignment6/nbproject/private/
/Assignment6/Assignment6-war/nbproject/private/
/Assignment6/Assignment6-ejb/nbproject/private/
/Assignment6/Assignment6-ejb/build/
/Assignment6/Assignment6-ejb/dist/
/Assignment6/Assignment6-war/build/
/Assignment6/build/
/Assignment6/Assignment6-war/dist/
/Assignment6/dist/